.contactsec1section {
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0.286)), url(https://lirp.cdn-website.com/48f148a6/dms3rep/multi/opt/girl-twins-wreathes-dresses-lie-bed-rays-morning-sun-2880w.jpg);
    background-size: 100% 80vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contactsec1section .contactsec1con {}

.contactsec1section .contactsec1con h1 {
    color: white;
    font-size: 4vw;

    letter-spacing: 1px;
    font-weight: 500;

}

@media (max-width: 1200px) {
    .contactsec1con h1 {
        font-size: 5vw;
        /* Adjust font size for smaller screens */
    }
}
@media (max-width: 1080px) {
    .contactsec1section {
        height: 70vh;
        background-size: 100% 70vh;
    }
}
@media (max-width: 850px) {
    .contactsec1con h1 {
        font-size: 6vw;
        /* Further adjust font size for smaller screens */
    }
}

@media (max-width: 670px) {
    .contactsec1con h1 {
        font-size: 7vw;
        /* Adjust font size for even smaller screens */
    }
    .contactsec1section {
        height: 65vh;
        background-size: 100% 65vh;
    }
}

@media (max-width: 470px) {
    .contactsec1section {
        height: 60vh;
        background-size: 100% 60vh;
    }
}